h1 {text-align: center;
color: #00cc00}/*This is the colour green*/

body 
{
	background-color: #000000; /*This is the colour black*/
	background-image:url(Background.jpg);
}

p
{
	color: #00cc00;
}/*This is the colour green*/

ul 
{
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li 
{
	float: left;
}

li a 
{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
	background-color:#1a1a1a;
}

h2
{
	text-align: center;
	color: white;
}

#Old
{
	float: right;
}